/* media queries */
/* DESKTOP FIRST */

.container {
    max-width: 1140px;
    width: 100%;
}

@media (max-width: 768px) {

}

.row {
    flex-wrap: wrap;
}

@media (max-width: 480px) {
    .lessons .col {
        width: 100%;
    }

}

.why-us {
    background-color: black;
    margin-bottom: 0%;
}







